<%# main container after top nav bar %>
<div class="container">
<%# One row will exist with 2 columns to hold all content %>
  <div class="row" style="min-height: 50vh;">
  <%# This row will hold navigation for messages profile and manage ads %>
    <div class="col-12 col-sm-3 border mt-3">
      <ul class="nav flex-sm-column mt-3 justify-content-center justify-content-sm-start">
        <li class="nav-item">
          <a class="nav-link active" href="<%= profile_path %>">Profile Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= listings_dashboard_path %>">Manage Listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Messages</a>
        </li>
      </ul>
    </div>
    <div class="col-12 col-sm-8 border ml-sm-3 mt-3">
      <%# This container will have the profile information %>
      <div class="container-fluid profile-update-form border mt-3">
        <%= render 'form', profile: @profile %>
      </div>
      <div class="container-fluid user-email-update-form border mt-3">
        <p><%= @user[:email]%></p>
        <p>Implement user email change</p>
      </div>
      <div class="container-fluid user-password-update-form border mt-3">
        <p> Implement user password change</p>
      </div>
    <div>
  </div>
</div>









<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @profile.mobile_number %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user_id %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
