<div class="container">
<%# One row will exist with 2 columns to hold all content %>
  <div class="row" style="min-height: 50vh;">
  <%# This row will hold navigation for messages profile and manage ads %>
    <div class="col-12 col-lg-3 border mt-3">
      <ul class="nav flex-lg-column mt-3 justify-content-center justify-content-lg-start">
        <li class="nav-item">
          <a class="nav-link active" href="#">Profile Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Manage Listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Messages</a>
        </li>
      </ul>
    </div>
    <div class="col-12 col-lg-8 border ml-sm-3 mt-3">
      <div class="container-fluid border mt-3 d-flex flex-wrap justify-content-center">
        <div class="card col-10 col-sm-5 col-lg-4 my-3">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Quick view
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                  ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card col-10 col-sm-5 col-lg-4 my-3">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card col-10 col-sm-5 col-lg-4 my-3">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card col-10 col-sm-5 col-lg-4 my-3">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div> 
    <div>
  </div>
</div>


<p id="notice"><%= notice %></p>
<%# 
<h1>Listings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Brand</th>
      <th>Style</th>
      <th>Size</th>
      <th>State</th>
      <th>Postcode</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <%# <tr> %>
        <%# <td><%= listing.title %></td> %>
        <%# <td><%= listing.description %></td> %>
        <%# <td><%= listing.price %></td> %>
        <%# <td><%= listing.brand_id %></td> %>
        <%# <td><%= listing.style_id %></td> %>
        <%# <td><%= listing.size_id %></td> %>
        <%# <td><%= listing.state_id %></td> %>
        <%# <td><%= listing.postcode_id %></td> %>
        <%# <td><%= listing.user_id %></td> %>
        <%# <td><%= link_to 'Show', listing %></td> %>
        <%# <td><%= link_to 'Edit', edit_listing_path(listing) %></td> %>
        <%# <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td> %>
      <%# </tr> %>
    <%# <% end %> %>
  <%# </tbody> %>
<%# </table> %>

<%# <br> %>

<%# <%= link_to 'New Listing', new_listing_path %> %> %>
