<div class="container">
  <div class="row my-5 justify-content-center border">
    <div class="col-10 col-md-8 border">
      <div class="row">
        <div class="col-10 col-md-5">
          <%= image_tag @listing.picture if @listing.picture.attached? %>
        </div>
        <div class="col-10 col-md-5">
        </div>
      </div>
      <div class="row">
      </div>
    </div>
    <div class="col-10 col-md-4 border">
      <div class="row d-flex justify-content-center mt-5">
        <h4><%= @listing.title %></h4>
      </div>
      <div class="row d-flex justify-content-center">
        <h6><%= @brands.find(@listing.brand_id).title %></h6>
      </div>
      <div class="row d-flex my-3">
        <div class="col d-flex justify-content-end">
          <p><strong>Size:</strong><%= @sizes.find(@listing.size_id).title %></p>
        </div>
        <div class="col d-flex justify-content-start price">
          <p><strong>Price:</strong><%= @listing.price %></p>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="container col-10 d-flex justify-content-center bg-light">
          <p class="text-left"><%= @listing.description %></p>
        </div>
      </div>
      <div class="row d-flex my-3">
        <div class="col d-flex justify-content-end">
          <p><strong>State:</strong><%= @states.find(@listing.state_id).title %></p>
        </div>
        <div class="col d-flex justify-content-start">
          <p><strong>Postcode:</strong><%= @postcodes.find(@listing.postcode_id).title %></p>
        </div>
      </div>
      <div class="row d-flex justify-content-center my-3">
        <button type="button" class="btn btn-secondary">Message User</button>
      </div>
    </div>
  </div>
</div>

    <p id="notice"><%= notice %></p>

    <p>
      <strong>Title:</strong>
      <%= @listing.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @listing.description %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= @listing.price %>
    </p>

    <p>
      <strong>Brand:</strong>
      <%= @brands.find(@listing.brand_id).title %>
    </p>

    <p>
      <strong>Style:</strong>
      <%= @styles.find(@listing.style_id).title %>
    </p>

    <p>
      <strong>Size:</strong>
      <%= @sizes.find(@listing.size_id).title %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @states.find(@listing.state_id).title %>
    </p>

    <p>
      <strong>Postcode:</strong>
      <%= @postcodes.find(@listing.postcode_id).title %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @users.find(@listing.user_id).email %>
    </p>

    <p>
      <strong>Picture:</strong>
      <%= image_tag @listing.picture if @listing.picture.attached? %>
    </p>

    <%= link_to 'Edit', edit_listing_path(@listing) %> |
    <%= link_to 'Back', listings_path %>

